<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap-bundle.css" />
    <link rel="stylesheet" href="/css/fontawesome-bundle.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Gotu&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <!-- ---- header -->
    <%- include("_header") %>

    <div class="conatiner">
      <!-- ---- data -->
      <%- include("_india-data",{india_data}) %>
      <!-- ---- chart -->
      <div class="container mt-3 mt-md-5">
        <div class="row">
          <div class="col col-sm-12 col-sm-6 border rounded">
            <h2 class="text-center p-3">Data Graph</h2>
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
      <!-- ---- button -->
      <div class="container">
        <div class="row mt-3 mt-md-5 border rounded bg-light">
          <div class="col col-12 text-center">
            <a href="/states" class="btn btn-primary m-3">
              Click Here to see Statewise data
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- ----footer -->
    <%- include("_footer") %>
  </body>
  <script src="/js/bootstrap-bundle.js"></script>
  <!-- <script src="/js/chart.js"></script> -->
  <script src="/js/chartjs-bundle.js"></script>
  <script>
    var ctx = document.getElementById("myChart").getContext("2d");
    var ctx = document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Totoal Cases", "Recovered", "Deaths"],
        datasets: [
          {
            label: "#",
            data: [<%= india_data.cases.split(",").join('') %> , <%= india_data.total_recovered %>, <%=india_data.deaths %>],
            backgroundColor: [
                  "#F3D45B", "#0B6322", "#DC242A"
            ],
            borderColor: [
              "rgba(255, 99, 132, 1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",

            ],
            borderWidth: 0,
          },
        ],
      },
      options: {
        title :{
          display: false,
        text: 'Corona data of India'
        },
        legend:{display : false},
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: false,
              },
            },
          ],
        },
      },
    });
  </script>
</html>
